
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .card{
            border: 0;
        }
        .card-login {
            max-width: 380px;
            vertical-align: middle;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
.nav_logo{
    visibility: hidden;
}

        .card-header h3 {
            color: #ffffff;
            font-size: 22px;
        }
        .card-header {
            border-bottom: none;
            text-align: center;
            background-color: #314D68;
            padding: 22px 12px;
        }
        .card-body input.user {
            background: url(../img/user.png)no-repeat 8px 10px #fff;
        }
        .card-body input.lock {
            background: url(../img/lock.png)no-repeat 8px 10px #fff;
        }
        .card-body input.mbl {
            background: url(../img/mobilenum.png)no-repeat 8px 10px #fff;
        }

        /*button{*/
        /*background: #314D68;*/
        /*color: #fff;*/
        /*font-size: 17px;*/
        /*border: none;*/
        /*width: 100%;*/
        /*outline: none;*/
        /*cursor: pointer;*/
        /*padding: 10px 15px;*/
        /*transition: 0.5s all;*/

        /*}*/
        input[type="text"], input[type="password"],input[type="email"],input[type="tel"] {
            width: 100%;
            padding: 10px 10px 10px 35px;
            font-weight: normal;
            background: none;
            border: 1px solid #8FA4B9;
            color: #545454;
            outline: none;
            font-size: 14px;
            margin: 6px 0 17px 0px;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }
        .card-body input[type="submit"] {
            background: #314D68;
            color: #fff;
            font-size: 17px;
            border: none;
            width: 100%;
            outline: none;
            cursor: pointer;
            -webkit-appearance: none;
            padding: 10px 15px;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }
        .signin-rit {
            margin: 1.2em 0;
        }
        input[type="checkbox"], input[type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }
        a.forgot {
            float: right;
            color: #ce451b;
            text-decoration: none;
            font-size: 0.875em;
        }
        .card-body p {
            text-align: center;
            margin-top: 1em;
            font-size: 0.95em;
            letter-spacing: 1px;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding-top: 60px;
            vertical-align: middle;
        }
        #button1{
            color: #007bff;
            cursor:pointer;
        }
        #button2{
            color: #007bff;
             cursor:pointer;
        }
        .log{
            margin-top: 12em;
        }
        .reg{
            margin-top: 0;

        }

        .error{
            color: tomato;
        }

        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

        .search{
            visibility: hidden;
        }
        .w3-hover-white{
            height: 49px;}
        @media only screen and (max-width: 947px) {

            form{
                visibility: hidden;
            }
            .logo{
                visibility: hidden;
            }
            .w3-bar{
                height: 49px;
            }

            .slider li img{
                margin-top: 5%;
        }
        }

            @media only screen and (max-width: 600px) and (min-width: 320px) {
                .nav_logo{
                    visibility: visible;
                }

                .nav_logo{
                    visibility: visible;
                }
                .slider.content title{
                    margin-top: 15%;
                }

                .slider li img{
                    margin-top: 15%;
                }
                .slider_areaa {
                    height: auto;
                    overflow: hidden;
                    width: 50%;
                    margin: auto;
                }
            }
            @media only screen and (min-width: 948px) {
                .nav_logo{
                    visibility: visible;
                }
                .nav_logo{
                    visibility: visible;
                }
                .slider li img{
                    margin-top: 5%;
                }
            }
            .w3-hover-white{
                height: 49px;

            }
.btn{
    background: #314D68;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 0;
}


        @media only screen and (min-width: 1000px) {
            .slider_area {
                margin-top: 6%;
                height: 300px;
                overflow: hidden;
                width: 100%;
            }
        }


        .w3-padding-large {
            padding: 8px 24px !important;
        }
        .pagination-links{
	margin:30px 0;
}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
 /*ul{*/
 /*       list-style: none;*/
 /*       float: right;*/
 /*       color: #3c5a9a;*/
 /*       font-weight: bold;*/
 /*       top:0;*/
 /*       left: 0;*/
 /*   }*/
 /*   ul li{*/
 /*       float: left;*/
 /*   }*/
 /*   ul li a{*/
 /*       float: left;*/
 /*       padding-right:15px;*/
 /*       text-decoration: none;*/

 /*   }*/
    .friends ul li a img{
        float: left;
        height:80px;
        width: 80px;
        margin: 2%;
    }

    .button button{
        padding: 3px;
        margin: 5px;
        color: #3c5a9a;
        background: #ddd;
        border: 2px solid #ccc;
        width: 120px;
    }
    .btn_likes {float:left; padding: 0px 5px;cursor:pointer;width: 143px;
height: 38px;overflow:hidden;}
    .btn_likes img{max-width: 100%;width: 20px;height:20px;}
    .btn_likes button[type="button"]{border:0;cursor:pointer;}
    .like {background:url('../img/like.png')}
    .unlike {background:url('../img/unlike.png')}
    .label-likes {font-size:12px;color:#2F529B;height:20px;}